body {
	background: aqua;
	}

h1 {
	color: white;
	margin-left: 250px;
}

h2 {
	color: white;
	margin-left: 260px;
}

h3 {
	color: white;
	margin-left: 270px;
}

h4 {
	color: white;
	margin-left: 260px;
}

h5 {
	color: white;
	margin-left: 270px;
}

h6 {
	color: white;
	margin-left: 250px;
}



